.card__info {
	text-align: center;
}
.card__title {
	font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  color: #000000;
}
.card_spam {
	font-family:'Courier New', Courier, monospace;
}
.card__icon {
	width: 30px;
}

.card__img {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
}
.card__temp {
  font-size: 38px;
  margin: 0;
  padding: 0;
}
.card__details {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 0px;
  padding: 0;
  margin: 0;
}
.card__details__item {
  display: flex;
  gap: 8px;
}
.card__details__text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card__details__item_value {
  font-size: small;
  color: #000000;  
}
.icon {
  width: 20px; 
  
}